<div id="order-review">
<!--
     <% form_tag :action => :mock_paypal do %>
-->
	<% if ENV['RAILS_ENV'] == 'production' %>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<% else %>
		<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
	<% end %>
	<fieldset>
        <legend>
            Please Review Your Order
        </legend>
	<div>
		<div class="review-heading">
			<span class="subheading">Delivery Address Details</span><%= link_to "Edit", :action => "checkout" %>
		</div>
		<table>
	        <tr><td class="review-label">First Name:</td><td><%= @order.first_name %></td></tr>
	        <tr><td class="review-label">Last Name:</td><td><%= @order.last_name %></td></tr>
	        <tr><td class="review-label">Street Address:</td><td><%= @order.street_address_1 %></td></tr>
	        <tr><td class="review-label">Street Address (contd):</td><td><%= @order.street_address_2 %></td></tr>
	        <tr><td class="review-label">City/Suburb:</td><td><%= @order.city %></td></tr>
	        <tr><td class="review-label">State:</td><td><%= @order.state %></td></tr>
	        <tr><td class="review-label">Postcode/Zip:</td><td><%= @order.postcode %></td></tr>
	        <tr><td class="review-label">Country:</td><td><%= Order::COUNTRY_TYPES.rassoc(@order.country).at(0) %></td></tr>
	        <tr><td class="review-label">E-Mail:</td><td><%= @order.email %></td></tr>
        </table>
	</div>
	<div>
		<div class="review-heading">
			<span class="subheading">Shipping Method</span><%= link_to "Edit", :action => "checkout_shipping" %>
		</div>
		<table>
	        <tr><td class="review-label">Shipping method:</td><td><%= @order.shipping_method_text %></td></tr>
        </table>
	<div>
		<table>
	        <tr>
	        	<td class="review-label">&nbsp;</td>
				<td class="order-button">
					<input type="hidden" name="cmd" value="_cart">
					<input type="hidden" name="upload" value="1">
					<% if ENV['RAILS_ENV'] == 'production' %>
						<input type="hidden" name="business" value="eddie.ridwan@languagetechnologies.com">
						<input type="hidden" name="return" value="http://languagetechnologies.com/store/process_order">
						<input type="hidden" name="cancel_return" value="http://languagetechnologies.com/store/shop">
					<% else %>
						<input type="hidden" name="business" value="eddie._1242079947_biz@languagetechnologies.com">
						<input type="hidden" name="return" value="http://127.0.0.1:3001/store/process_order">
						<input type="hidden" name="cancel_return" value="http://127.0.0.1:3001/store/shop">
					<% end %>
					<INPUT TYPE="hidden" NAME="first_name" value="<%= @order.first_name %>">
					<INPUT TYPE="hidden" NAME="last_name" value="<%= @order.last_name %>">
					<% i = 1 %>
					<% @cart.items.each do |li| %>
						<input type="hidden" name="item_name_<%=i%>" value="<%= li.product.title %>">
						<input type="hidden" name="quantity_<%=i%>" value="<%= li.quantity %>">
						<input type="hidden" name="amount_<%=i%>" value="<%= li.product.price %>">
						<% i += 1 %>
					<% end %>
					<input type="hidden" name="handling_cart" value="<%= @order.calc_shipping_cost(@cart) %>">
					<INPUT TYPE="hidden" NAME="currency_code" value="AUD">
					<input type="hidden" name="no_shipping" value="1">
					<!-- On success, PayPal returns these transaction variables using POST
						 Pass authenticity token which will be checked when it is returned in the POST
					-->
					<input type="hidden" name="invoice" value="<%= Time.now.strftime('%m%y') + '_' + @order.id.to_s %>">
					<input type="hidden" name="custom" value="<%= form_authenticity_token %>">
					<input type="hidden" name="rm" value="2">
					<input type="submit" value="Payment &gt;">
				</td>
				<td>
					<img title="Credit cards accepted" src="/images/payment/visa_mastercard_4.gif" height="33px" />
					<a href="#" onclick="javascript:window.open('https://www.paypal.com/au/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');"><img  src="https://www.paypal.com/en_AU/i/logo/PayPal_mark_50x34.gif" border="0" title="Payments by PayPal"></a>
				</td>
			</tr>
		</table>
	</div>
   </fieldset>
    <% end %>
	<div class="checkout-links">
		<%= link_to "&lt; Back", :action => "checkout_shipping" %> |
		<%= link_to "Continue Shopping", :action => "shop" %>
	</div>
</div>
