<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title><%= @title %></title>
        <%= stylesheet_link_tag "depot" , :media => "all" %>
        <%= javascript_include_tag :defaults, 'quiz' %>	
    </head>
    <body id="store">
        <table width="100%" cellpadding=0 cellspacing=0>
        	<tr>
        	<td class="logo" width="125px" rowspan=2>
	            <%= image_tag("logoedtr.gif", :title => "Language Technologies") %>
        	</td>
			<td style="vertical-align:top">
        	<div id="banner">
	        	<div class="banner-heading">
					<%= image_tag("indon.jpg", :class => "banner-img") %>
					<span><%= @page_title || "Indonesian Language Resources" %></span>
				</div>
		        <div class="menubar">
		            <%= link_to "Home", {:controller => 'store', :action => "index" } %>
		            &nbsp;|&nbsp;<%= link_to "Shop", {:controller => 'store', :action => "shop" } %>
		            &nbsp;|&nbsp;<%= link_to "Contact", {:controller => 'store', :action => "contact" } %>
		            &nbsp;|&nbsp;<%= link_to "Admin", :controller => "admin" %>
					<% if session[:user_id] %>
						&nbsp;|&nbsp;<%= link_to 'Orders', :controller => 'orders' %>
						&nbsp;|&nbsp;<%= link_to 'Products', :controller => 'products' %>
						&nbsp;|&nbsp;<%= link_to 'Users', :controller => 'users' %>
						&nbsp;|&nbsp;<%= link_to 'Logout', :controller => 'admin', :action => 'logout' %>
					<% end %>
		        </div>
			</div>
			</td></tr>
			<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
        </table>
        <div id="columns">
            <div id="side">
            	<% if @cart.nil? == false %>
                	<% hidden_div_if(@cart.items.empty?, :id => "cart" ) do %>
                	<%= render(:partial => "cart" , :object => @cart, 
							:locals => {:showbuttons => @showbuttons, :order => @order}) %>
                	<% end %>
				<% end %>
            </div>
            <div id="main">
                <% if flash[:notice] -%>
                <div id="notice">
                    <%= flash[:notice] %>
                </div>
                <% end -%>
                <%= yield :layout %>
            </div>
        </div>
        <div id="footer">
            <%= link_to "Home", { :action => "index" } %>
            &nbsp;|&nbsp;<%= link_to "Contact", {:controller => 'store', :action => "contact" } %>
            &nbsp;|&nbsp;<%= link_to "Privacy", {:controller => 'store', :action => "privacy" } %>
            <div class="copyright">
                &copy; Copyright Language Technologies. All rights reserved.
            </div>
        </div>
    </body>
</html>
